.header {
    &_burger {
        display: none;
    }
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 80px;
    &_logo {
        display: inline-block;
        margin-right: 50px;
    }
    &_nav {
        &__menu {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            &_item {
                margin: 30px;
                &-link {
                    text-decoration: none;
                    color: $link_color;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    .header {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        margin-bottom: 37px;
        &_burger {
            display: flex;
            align-items: center;
            width: 73px;
            justify-content: space-between;
            &__link {
                font-size: 14px;
                line-height: 16px;
                color: $main_color_white;
                text-decoration: none;
            }
        }
        &_logo {
            display: inline-block;
            margin-right: 50px;
        }
        &_nav {
            display: none;
        }
    }
}