.hero {
    &_text {
        &__date {
            display: block;
            font-size: 24px;
            line-height: 28px;
            color: $date_color;
            margin-bottom: 38px;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__description {
            max-width: 423px;
            font-size: 16px;
            line-height: 140%;
            color: $date_color;
        }
    }
    &_buttons {
        margin-top: 70px;
        &__item {
            padding: 15px 30px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            &-text,
            &-icon {
                display: inline-block;
                vertical-align: middle;
            }
            &-text {
                font-size: 14px;
                margin-left: 10px;
                line-height: 16px;
            }
        }
    }
}

.button-primary {
    cursor: pointer;
    background-color: $main_color_white;
    color: $dark_red;
    &:hover {
        background-color: rgba(255, 255, 255, 0.863);
    }
}

.button-link {
    color: $main_color_white;
}