* {
    // margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    transition: all 0.7s ease-in;
}

$main_color_black: #14131a;
$main_color_white: white;
$link_color: rgba(255, 255, 255, 0.5);
$date_color: rgba(255, 255, 255, 0.8);
$dark_red: #8D0019;
body {
    color: $main_color_white;
}

.wrapper {
    max-width: 1140px;
    margin: auto;
}

.burger {
    display: none;
}

.Venom {
    position: absolute;
    top: 0;
    right: 0;
}

.blood {
    background: url('../assets/images/blood.png') no-repeat top right, $main_color_black url('../assets/images/bg.jpg') no-repeat center center / 100%;
}

.no-blood {
    background: $main_color_black url('../assets/images/bg.jpg') no-repeat center center / 100%;
}

@media only screen and (max-width: 1140px) and (min-width: 768px) {
    .Venom {
        width: 300px;
        top: 100px;
    }
    .wrapper {
        max-width: 768px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
    .Venom {
        width: 128px;
        top: 98px;
        z-index: 1;
    }
    .wrapper {
        max-width: 270px;
    }
    .blood {
        background: $main_color_black;
    }
    .burger {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        right: -100%;
        flex-direction: column;
        align-items: center;
        background-color: $main_color_white;
        color: $main_color_black;
        &__menu {
            list-style-type: none;
            padding: 0;
            &_item {
                margin-bottom: 15px;
                text-align: center;
                &-link {
                    text-decoration: none;
                    color: $main_color_black;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
        &_1 {
            padding: 45px 25px 167px 207px;
            display: flex;
            align-items: center;
            & img {
                width: 22px;
                height: 18px;
                margin-left: 10px;
            }
        }
        &_2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}